{{#with publication.xml.meta}}

<div class="audio-item">

     <h1 class="title"></h1>

     <div class="description"><p></p></div> 

     <div class="file-info"><p>(mp3, mins, MB)</p></div>

     <div class="download"><p><a href="">Download audio</a></p></div>

	 <div class="copyright"><p>&copy; </p></div>
	 
         <div class="related-article">
          <a href="">Read associated article</a>
         </div> 


</div>

{{/with}}


